@import 'tailwindcss';
@plugin 'daisyui';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }
}

body > div,
body {
  height: 100vh;
  width: 100%;
  display: flex;
}

body > div {
  overflow: auto;
}

body {
  overflow: hidden;
  background: var(--color-base-200);
  color: var(--color-base-content);
}

[data-scope='scroll-area'][data-part='viewport'] {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
