@import 'tailwindcss';


@plugin "daisyui/theme" {
  name: "homeless-light";

  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: #FFFFFF;
  --color-base-200: #F4F3F3;
  --color-base-300: #B0BABA;
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: #F8EB20;
  --color-primary-content: #141414;
  --color-secondary: #F4F3F3;
  --color-secondary-content: #141414;
  --color-accent: #629F42;
  --color-accent-content: #141414;
  --color-neutral: #141414;
  --color-neutral-content: #B0BABA;
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }
}

@theme {
  --font-nunito: var(--nunito-font);
  --font-sans: var(--nunito-font);
}

body > div,
body {
  height: 100dvh;
  width: 100%;
  display: flex;
}

body > div {
  overflow: auto;
}

body {
  overflow: hidden;
  background: var(--color-base-200);
  color: var(--color-base-content);

}

[data-scope='scroll-area'][data-part='viewport'] {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}



@plugin "daisyui" {
  themes: homeless-light --default, homeless-light --prefersdark;
}

.rainbow-outline {
  font-size: 64px;
  color: white;
  text-shadow:
    -2px -2px 0 red,
    2px -2px 0 orange,
    -2px  2px 0 yellow,
    2px  2px 0 green,
    0px -4px 0 blue,
    4px  0px 0 indigo,
    0px  4px 0 violet;
}
