#name: Build and Push Docker Image
#
#on:
#  push:
#    branches:
#      - main
#
#permissions:
#  contents: read
#  packages: write
#
#jobs:
#  build-with-docker-engine:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3
#        with:
#          fetch-depth: 0
#      - uses: actions/setup-node@v3
#        with:
#          cache: 'npm'
#          node-version-file: '.nvmrc'
#      - name: 'Install Dependencies'
#        run: npm install
#      - name: Set up Docker Buildx
#        uses: docker/setup-buildx-action@v2
#      - name: Login to GitHub Container Registry
#        uses: docker/login-action@v1
#        with:
#          registry: ghcr.io
#          username: ${{github.actor}}
#          password: ${{secrets.GITHUB_TOKEN}}
#      - name: 'nx build'
#        env:
#          INPUT_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: npx nx run-many --target=ci
